html, body {
	font-family: 'Roboto', sans-serif;
}

h1 {
	color: blue;
}

#visualizer {
	display: block;
	position: fixed;
	z-index: -1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: white;
	pointer-events: none;
}
